.header__dropdown {
  position: relative;
}

.header__nav_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 680px;
  background-color: #1B1A17;
}
.header__nav_dropdown > li {
  margin-bottom: 64px;
}
.header__nav_dropdown > li:last-child {
  margin-bottom: 0;
}